@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@0,300;400;500;600;700;800;900&display=swap");

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}
